-#  This file is app/views/home/index.html.haml
.wrapper
  %h2 Top Rating Books
   
  %table#books{:class => "table_results"}
    %thead
      %tr
        %th Book Title
        %th Book Author
        %th Average Rate
    %tbody
      - @books.each do |book|
        %tr
          %td= book["title"]
          %td= book["author"]
          %td{:class => "stars_"+(book["avg_rating"].to_i).to_s} 
  
