-# in app/views/movies/show.html.haml
 
%h2 Details about #{@book.title}
 
%ul#details
  %li
    Author:
    = @book.author
 
%h3 Summary:
 
%p#description= @book.summary
 
= link_to 'Back to book list', books_path
